/* pagina 1 */
.pag1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.conteudopag1 {
    width: 340px;
    height: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.semquizz1 {
    width: 100%;
    height: 181px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    text-align: center;
    margin-bottom: 35px;
}

.criarprimeiroquizz1 {
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    width: 151px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EC362D;
}

.textsemquizz1 {
    height: 107px;
    width: 250px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B9B9;
}

.seusquizzes1 {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.hdseusquizzes1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hlsquizzes1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.criaroutroquizz1 {
    width: 30px;
    height: 30px;
    border: 0;
}

.criarquizzicon {
    color: #EC362D;
    font-size: 30px;
}

.containerseuquizz1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 13px;
}

.quizzimg1 {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    z-index: -1;
}

.quizz1 {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
}

.quizz1titulo {
    position: relative;
    bottom: 40px;
    left: 17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #ffffff;
}

.todosquizz1 {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hdtodosquizzes1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

@media (min-width: 1100px) {
    .containerseuquizz1 {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .conteudopag1 {
        width: 1051px;
    }

    .hdseusquizzes1 {
        justify-content: left;
        gap: 10px;
    }

}

/* Fim - pagina 1 */
/* pagina 2 - 1 */
.pagina2 {
    background-color: #FAFAFA;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 69px;
}

.topo2 {
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.titulo-topo2 {
    font-family: 'Roboto', sans-serif;
    font-weight: Bold;
    font-style: bold;
    font-size: 37px;
    line-height: 43px;
    color: white;
}

.interacao {

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-imagem {
    width: 100%;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57)), url();
}

.banner-imagem p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.primeira-pergunta {
    width: 759px;
    height: 676px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 42px;
}

.segunda-pergunta,
.terceira-pergunta {
    width: 759px;
    height: 676px;
    left: 340px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.pergunta-1,
.pergunta-2,
.pergunta-3 {
    width: 688px;
    height: 138px;
    background-color: #434CA0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.pergunta-1 p,
.pergunta-2 p,
.pergunta-3 p {
    width: 623px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.todas-imagem-pergunta-1,
.todas-imagem-pergunta-2,
.todas-imagem-pergunta-3 {
    width: 688px;
    height: 453px;
    background-color: #FFFFFF;
    margin-top: 20px;
    display: flex;
}

.nome-1,
.nome-2,
.nome-3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    ;
}

.imagem-1,
.imagem-2,
.imagem-3 {
    width: 330px;
    height: 175px;
    border-radius: 0px;
    background-color: black;
    margin-bottom: 8px;
}

.imagem-1:hover,
.imagem-2:hover,
.imagem-3:hover,
.reiniciar-quiz:hover,
.voltar-pro-home:hover {
    cursor: pointer;
}

.lado-esquerdo-1,
.lado-esquerdo-2,
.lado-esquerdo-3 {
    background-color: #FFFFFF;
    width: 330px;
}

.primeira-imagem-1,
.primeira-imagem-2,
.primeira-imagem-3 {
    background-color: #FFFFFF;
    height: 217px;
}

.segunda-imagem-1,
.segunda-imagem-2,
.segunda-imagem-3 {
    background-color: #FFFFFF;
    height: 217px;
}

.lado-direito-1,
.lado-direito-2,
.lado-direito-3 {
    background-color: #FFFFFF;
    width: 330px;
    margin-left: 28px;
}

.terceira-imagem-1,
.terceira-imagem-2,
.terceira-imagem-3 {
    background-color: #FFFFFF;
    height: 217px;
}

.quarta-imagem-1,
.quarta-imagem-2,
.quarta-imagem-3 {
    background-color: #FFFFFF;
    height: 217px;
}

/*FIM DA PÁGINA 2 -1*/

/*pagina 2 - 2 */

.finalizando-acerto {
    width: 759px;
    height: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
}

.nivel-acerto {
    width: 727px;
    height: 99px;
    left: 358px;
    top: 484px;
    background: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nivel-acerto p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.tudo-acerto {
    background-color: #FFFFFF;
    display: flex;
    margin-top: 18px;
}

.lado-esquerdo-acerto {
    width: 364px;
    background-color: #FFFFFF;
}

.imagem-acerto {
    width: 364px;
    height: 273px;
    background-color: #000000;
}

.lado-direito-acerto {
    width: 328px;
    background-color: #FFFFFF;
    margin-left: 35px;

}

.texto-acerto p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}

.acertou {
    color: #009C22;
}

.errou {
    color: #FF4B4B;
}

/*FIM DA PÁGINA 2 -2*/

/*pagina 2 - 3 */

.reiniciar-quiz {

    width: 260px;
    height: 52px;
    margin-top: 9px;
    background: #EC362D;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.reiniciar-quiz p {
    width: 260px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFF5F4;
}

.voltar-pro-home {
    width: 219px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 86px;

}

.voltar-pro-home p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #818181;
}

/*FIM DA PÁGINA 2 -3 */

/*pagina 2 - @midia */


/*pagina 3 - 1 */
.page3 {
    background-color: #FAFAFA;
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    margin-top: 69px;
}

.header3 {
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}




.headtitle3 {
    font-family: 'Roboto', sans-serif;
    font-weight: Bold;
    font-style: bold;
    font-size: 37px;
    line-height: 43px;
    color: white;
}

.box3 {
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: bold;
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 27px;
}

.questions3 {
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #0000000D;
    justify-content: center;
    margin-bottom: 85px;
    padding-top: 10px;
}

.questions3 input {
    font-family: 'Roboto', sans-serif;
    width: 92%;
    padding-left: 3%;
    height: 46px;
    margin-bottom: 9px;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    border: 1px solid #D1D1D1;
    font-style: italic;
}

.questions3 input::placeholder {
    color: #BABABA;
}

.questions31 input::placeholder {
    color: #BABABA;
}

.proceed3 {
    height: 54px;
    width: 368.86px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 25px;
}
.proceed3:hover{
    cursor: pointer;
}

/*FIM DA PÁGINA 3 -1*/




/* Página 3- 2 */
.page31 {
    background-color: #FAFAFA;
    width: 100%;
    height: 1817px;
    display: flex;
    justify-content: center;
    margin-top: 69px;
}


.questions31 {
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #0000000D;
    justify-content: center;
    margin-bottom: 85px;
    padding-top: 27px;
    padding-bottom: 20px;
}

.questions31 input {
    font-family: 'Roboto', sans-serif;
    width: 96%;
    padding-left: 3%;
    height: 46px;
    margin-bottom: 9px;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    border: 1px solid #D1D1D1;
    font-style: italic;
}

.setor {
    margin-bottom: 28px;
    width: 92%;
    height: 100%;
}

.title31 {
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.questions312 {
    box-sizing: border-box;
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #0000000D;
    justify-content: space-between;
    margin-bottom: 85px;
    padding-top: 27px;
    padding-bottom: 20px;
    font-size: 37px;
    padding-right: 20px;

}

.title312 {
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-left: 20px;
}

/*Fim da Página 3- 2 */



/*página 3 - 3 */
.page32 {
    background-color: #FAFAFA;
    width: 100%;
    height: 1817px;
    display: flex;
    justify-content: center;
    margin-top: 69px;
}

/*Fim da Página 3- 3 */

/*página 3 - 4 */

.page33 {
    background-color: #FAFAFA;
    width: 100%;
    height: 1817px;
    display: flex;
    justify-content: center;
    margin-top: 69px;
}
.imgp3 {
    width: 500px;
    height: 266px;
    background-color: purple;
    margin-top: 46px;
    margin-bottom: 45px;
    position: relative;
}

.home {
    margin-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
    border: none;
    background-color: #FAFAFA;
    color: #818181;
}

.home:hover{
    cursor: pointer;
}

.imgtitle33 {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 27px;
    position: absolute;
    bottom: 15px;
    left: 23px;
    color: white;
}

/*Fim da Página 3- 4 */






.fadeimg {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.escondido {
    display: none;
}